@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 12px;
}

/* Optional: Adjust the body font size if needed */
body {
  font-size: 1rem;
}

input:focus {
  outline: none;
  /* border: 0.083rem solid #633CFF */
}

.frame{
    background-image: url(../components//assets/images/preview.png);
    width: 25.58rem;
    height: 52.58rem;
}

div::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge, and Firefox */
  div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }